// @import '~@angular/material/prebuilt-themes/azure-blue.css';

@import url('../public/bootstrap-min.css');
@import url('../node_modules/bootstrap-icons/font/bootstrap-icons.min.css');
:root {

  --primary-color: #61dafb;
  --primary-color-hover: #dceffa;
  --secondary-color: #282c34;
  --text-color: #1a1a1a;
  --logo-color: #61dafb;
  --sidebar-bg: #f2f6ff;
  --sidebar-text: #060606;
  --spinner-bg: rgba(0, 0, 0, 0.5);
  --navigation-bar-bg-color:white;
  --content-bg-color:white;
  --content-text-color:black;
  // --terminal-color:rgb(5, 5, 5);
}
.dark-mode{
  --primary-color: #61dafb;
  --primary-color-hover: #6cbdec;
  --secondary-color: #bac6df;
  --text-color: white;
  --logo-color: #61dafb;
  --sidebar-bg: #1c1c1c;
  --sidebar-text: #ededed;
  --spinner-bg: rgba(0, 0, 0, 0.5);
  --navigation-bar-bg-color:#1c1c1c;
   --content-bg-color:#1c1c1c;
   --content-text-color:black;
    // --terminal-color:white;
}
.spinner-active {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background:var(--spinner-bg);
  z-index: 999!important;

}
.sidebar-footer{
  position: sticky;
  bottom: 0;
  width: 100%;
  padding: 10px;
  text-align: center;
   color: var(--sidebar-text);
  font-size: 12px;
  font-weight: 300;
  }
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
.hide{
  display: none!important;
}
.logo{
  width: 100%;
  height: 45px;
  display: flex;
  align-items: center;
  justify-content: center;
 color: var(--logo-color);
     font-size: 35px;
    font-weight: 800;
    font-family: cursive;
}
.logo-font-larger {
   color: var(--logo-color);
     font-size: 35px;
    font-weight: 800;
    font-family: cursive;
  font-size: 130px;
}
.sidebar{
   z-index: 1000!important;
  width: 80px;
  height: 100vh;
  background-color: var(--sidebar-bg);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  position: fixed;
    transition: 0.3s;
  // color: var(--text-color);
  // display: flex;
  // flex-direction: column;
  // padding: 20px;
}
.sidebar-open{
  width: 250px;
  transition: 0.3s;
}
.sidebar:not(.sidebar-open) .sidebar-header{
  justify-content: center
}
.sidebar:not(.sidebar-open) .sidebar-toggle{
  align-items: center;
  height: 45px;
  display: flex;
}
.sidebar-toggle{
  padding: 2px;
  align-self: flex-end;

}
.sidebar-header{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.sidebar-content{
  display: flex;
  flex-direction: column;
  // align-items: center;
  // justify-content: center;
  text-align: center;
  height: 100%;
  padding: 20px;
  color: var(--sidebar-text);
  font-size: 14px;}

.sidebar-content-items{
width: 100%;
padding: 10px;
border-radius: 15px;
}
.sidebar-open .sidebar-content-items a span{
  padding-left: 6px;
}
.sidebar:not(.sidebar-open) .sidebar-content-items a span{
  display: none;
}
.sidebar:not(.sidebar-open) .sidebar-content-items a i{
  font-size: 25px;
  color: var(--primary-color);
}
.sidebar:not(.sidebar-open) .sidebar-content-items:hover a i{
  font-size: 27px;
  transition: 0.3s;
  color: var(--sidebar-text)
}


.sidebar-content-items a{
  font-size: 18px;
  width: 100%;
  text-decoration: none;
}
.sidebar-content-items:hover{
  cursor: pointer;
  opacity: 0.8;
  background-color: var(--primary-color-hover);
}
.content{
  padding-left: 250px!important;
    transition: 0.3s;
    height: 100vh;
  // padding: 20px;
  background-color: var(--content-bg-color);
  // height: 100vh;
  color: var(--text-color);
}
.content-full{
  padding-left: 80px;
  background-color: var(--content-bg-color);
  // padding: 20px;
  height: 100vh;
  color: var(--text-color);
}
.spinner{
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 50%;
  left: 50%;

  // z-index: 1000;
  // cursor: not-allowed;
}
.navigation-Bar{
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 60px;
  background-color: var(--navigation-bar-bg-color);
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }


// stying group buttons
.dark-mode mat-button-toggle{
  color: #ededed;
}
.dark-mode mat-button-toggle.mat-button-toggle-checked{
  color: #1a1b1f;
}
// .xterm-dom-renderer-owner-2 .xterm-rows{
//   color: var( --terminal-color)!important;
// }